.register-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    mat-card-title {
        text-align: center;
        font-size: 1.5rem;
        color: #3f51b5;
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }

    button {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        // background: linear-gradient(45deg, #4caf50, #81c784);
    }

}

#card1{
    width: 30%;
    position: relative;
    top: 20%;
    left: 35%;
    // align-items: center;
    // justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

#register{
    position: relative;
    top: 11%;
    left: 3%;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
}

#fields{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    margin-top: 3%;
    margin-left: 0%;
    width: 100%;
}

#btn-class{
    background: linear-gradient(45deg, #4caf50, #81c784);
    color: white;
}